@charset "UTF-8";

:root{
    --azul: #49a09d;
    --roxo: #5f2c82;
    
}

@media screen and (max-width:768px){

body, html{
    background-color: var(--roxo);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: block;
    background-color: white;
    margin: 0px 30px;
    border-radius: 20px;
    
}

#imagem{
    display: block;
    background-image: url(../imagens/metal.jpg);
    background-position: left bottom;
    background-size: cover;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}

section h1{
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}

section p{
    font-size: 0.9rem;
text-align: justify center;
    margin: 0px 10px ;
}

.alinhar{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#iemail{
    background-color: #66b4b2;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    font-size: 1rem;
    height: 20px;
}

#ipassword{
    background-color: #66b4b2;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    font-size: 1rem;
    height: 20px;
}

.material-symbols-outlined{
    margin-top: 10px ;
    color: white;
}

.register{
    margin: 10px;
    padding: 2px;
    background-color: var(--roxo);
    border-radius: 10px;
}

.register2{
    margin: 10px;
    padding: 2px;
    background-color: var(--roxo);
    border-radius: 10px;
    margin-top: -5px;
}

#enter{
    margin: auto;
    max-width: 20vw;
    padding: 10px 95px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: var(--azul);
}

#password{
    margin: auto;
    margin: 10px 0px 30px 0px;
    text-decoration: none;
    border: 1px solid #49a09d;
    border-radius: 5px;
    color: #49a09d;
    padding: 10px 42px;

}
}